:root {
    --primary: rgb(56, 16, 56);
    --secondary: rgb(17, 49, 17);
    --third: rgb(58, 55, 55);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    color: var (--primary);
    background-color: var(--third);
}

header {
    background-color: var(--primary);
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

header div{
    margin:15px 0px 15px 0px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

header h1 {
    color: var(--secondary);
    background-color: var(--third);
    font-size: 40px;
    font-weight: bold;
    border: 5px solid var(--secondary);
    padding: 0 0 0 80px;
}

header a {
    text-decoration: none;
    color: var(--secondary);
}

header nav ul {
display: flex;
flex-wrap: wrap;
justify-content: center;
list-style: none;
}

header nav {
    margin: 20px;
}

header nav ul li a {
    padding: 8px;
    font-size: 28px;
    margin: 20px 20px 0 0 ;
    font-weight: bold;
    border-bottom: 2px solid var(--secondary);
}

header nav ul li a:hover {
    background: var(--third);
    color: var(--primary);
    border-radius: 15px;
}