:root {
    --primary: rgb(56, 16, 56);
    --secondary: rgb(17, 49, 17);
    --third: rgb(58, 55, 55);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    color: var (--primary);
    background-color: lightgray;
}

header {
    background-color: var(--primary);
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

header div{
    margin:15px 0px 15px 0px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

header h1 {
    color: var(--secondary);
    background-color: var(--third);
    font-size: 40px;
    font-weight: bold;
    border: 5px solid var(--secondary);
    padding: 0 0 0 80px;
}

header a {
    text-decoration: none;
    color: var(--secondary);
}

header nav ul {
display: flex;
flex-wrap: wrap;
justify-content: center;
list-style: none;
}

header nav {
    margin: 20px;
}

header nav ul li a {
    padding: 8px;
    font-size: 28px;
    margin: 20px 20px 0 0 ;
    font-weight: bold;
    border-bottom: 2px solid var(--secondary);
}

header nav ul li a:hover {
    background: var(--third);
    color: var(--primary);
    border-radius: 15px;
}

.hero {
    background-image: url("../assets/images/hero.png");
    height: 300px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero img {
    display: flex;
    flex-wrap: wrap;
    height: 200px;
}

.hero .text {
    font-size: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    text-align: right;
    color:var(--third);
    margin-top: 150px;
    background-color:var(--primary);
    border: 3px solid var(--secondary);
}

.left {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    border-right: 5px solid var(--secondary);
    min-height: 100%;
    text-align: right;
    padding-right: 40px;
    min-width: 20%;
    max-width: 20%;
}

.left h2 {
    display: flex;
    flex-wrap: wrap;
    font-size: 36px;
    color:var(--primary);
}

.about-me {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 35px;
}

.about-me p {
    font-size: 20px;
    padding: 0 20px;
    line-height: 1.5;
    width: 90%;
}

.my-work {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}

.wrapper {
    width: 80%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.work {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-size: cover;
    background-position: center;
}

.run-buddy {
    background-image: url("../assets/images/hero-bg.jpg");
    width: 99%;
    background-size: cover;
    background-position: center;
    border: 5px solid var(--primary);
    margin-bottom: 10px;
    padding-top: 150px;
    opacity: 0.4;
}

.calender {
    background-image: url("../assets/images/calender.png");
    width: 49%;
    background-size: cover;
    background-position: center;
    border: 5px solid var(--primary);
    margin-bottom: 10px;
    padding-top: 65px;
    opacity: 0.4;
}

.hacREFACTOR {
    background-image: url("../assets/images/hacREFACTOR.png");
    width: 49%;
    background-size: cover;
    background-position: center;
    border: 5px solid var(--primary);
    margin-bottom: 10px;
    padding-top: 65px;
    opacity: 0.4;
}

.robot-gladiators {
    background-image: url("../assets/images/robots.jpg");
    width: 49%;
    background-size:cover;
    background-position: center;
    border: 5px solid var(--primary);
    padding-top: 65px;
    opacity: 0.4;
}

.placeholder {
    background-image: url("../assets/images/placeholder.png");
    width: 49%;
    background-size:cover;
    background-position: center;
    border: 5px solid var(--primary);
    padding-top: 65px;
    opacity: 0.4;
}

.note {
    color: var(--secondary);
    width:48%;
    background-color: var(--primary);
}

.note h3 {
    font-weight: bolder;
    font-size: 20px;
}

.note p {
    font-weight:lighter;
    font-size: 12px;
    text-decoration: none;
}

.run-buddy:hover, .calender:hover, .hacREFACTOR:hover, .robot-gladiators:hover, .placeholder:hover {
    opacity: 1.0;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom:20px;
}


.footer-wrapper {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-list {
    width: 60%;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    font-weight: bold;
    font-size: 28px;
}

footer ul li a {
    text-decoration: none;
    border-bottom: 2px solid var(--secondary);
    color: var(--primary);
    padding: 5px;
}

footer ul li a:hover {
    background: var(--third);
    color: var(--secondary);
    border-radius: 10px;
}


/*MEDIA QUERY FOR SMALLER SCREENS */
@media screen and (max-width: 414px)
    
